<% include  partials/header %>
<nav class=""></nav>


<div class="container">
   <header class="jumbotron">
      <div class="container">
   <h1>Hello Everyone, Welcome to our Camping WebSite</h1>
   <p> Have a look at our exicting campgrounds</p>
   <p>
   <a class="btn btn-primary btn-lg" href="/campgrounds/new"> Add New Exiting Campgrounds</a>
   </p>
   </div>
</header>

<div class="row">
   <div class="col-lg-12">
      <h2>Our Popular Campgrounds Sites</h2>
   </div>
</div>

<div class="row" style ="display: flex; flex-wrap: wraps;">
   <% campgrounds.forEach(function(camps){ %>
   <div class="col-md-3 col-sm-6">
      <div class="thumbnail">
                <img src =" <%= camps.image%>">
                <div class="caption">
                   <h4> <%= camps.name %> </h4>
                </div>
                 <p>
                <a href="/campgrounds/<%= camps._id %>" class="btn btn-primary">More-Info</a>
            </p>
      </div>
   </div> 
<% }) %>
   
</div>
</div>


<% include  partials/footer %>