<% include partials/header.ejs %>
    <h1> <%= foundCampgrounds.name %> </h1>
    
<img src="<%= foundCampgrounds.image %> "></img>

<p><%= foundCampgrounds.description %></p>

<% include partials/footer.ejs %>